/* Default */

.bg {
    &-maha {
        background-color: $maha !important;
    }
    &-dhana {
        background-color: $dhana !important;
    }
    &-santana {
        background-color: $santana !important;
    }
    &-dhanya {
        background-color: $dhanya !important;
    }
    &-gaja {
        background-color: $gaja !important;
    }
    &-veera {
        background-color: $veera !important;
    }
    &-jaya {
        background-color: $jaya !important;
    }
    &-vidya {
        background-color: $vidya !important;
    }
    &-image {
        background-image: url("https://media-private.canva.com/ayKb4/MAEDgUayKb4/1/tl.jpg?response-expires=Fri%2C%2031%20Jul%202020%2004%3A19%3A32%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200731T012746Z&X-Amz-SignedHeaders=host&X-Amz-Expires=10305&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20200731%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=1be27223edb2519e79090b3fc1828dd8eddf625f9d7f292d3faa8a40b6257df2");
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        &::before {
            content: '';
            width: 100%;
            background: inherit;
            position: absolute;
            filter: blur(5px);
            box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.15);
            height: 100%;
            left: 0;
            top: 0;
        }
    }
}


/* COLORS */

.text-primary {
    color: $primary !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: $h-primary !important;
}

.text-secondary {
    color: $secondary !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: $h-secondary !important;
}

.text-success {
    color: $success !important;
}

a.text-success:hover,
a.text-success:focus {
    color: $h-success !important;
}

.text-info {
    color: $info !important;
}

a.text-info:hover,
a.text-info:focus {
    color: $h-info !important;
}

.text-warning {
    color: $warning !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: $h-warning !important;
}

.text-danger {
    color: $danger !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: $h-danger !important;
}

.text-light {
    color: $light !important;
}

a.text-light:hover,
a.text-light:focus {
    color: $h-light !important;
}

.text-dark {
    color: $dark !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: $h-dark !important;
}

.bg-primary {
    background-color: $primary !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: $h-primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: $h-secondary !important;
}

.bg-success {
    background-color: $success !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: $h-success !important;
}

.bg-info {
    background-color: $info !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: $h-info !important;
}

.bg-warning {
    background-color: $warning !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
    background-color: $h-warning !important;
}

.bg-danger {
    background-color: $danger !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: $h-danger !important;
}

.bg-light {
    background-color: $light !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: $h-light !important;
}

.bg-dark {
    background-color: $dark !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: $h-dark !important;
}

.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: $h-primary;
    border-color: $h-primary;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: $h-secondary;
    border-color: $h-secondary;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-success {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: $h-success;
    border-color: $h-success;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-info {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: $h-info;
    border-color: $h-info;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-warning {
    color: #212529;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
    color: #212529;
    background-color: $h-warning;
    border-color: $h-warning;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: $warning;
    border-color: $warning;
}

.btn-danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: $h-danger;
    border-color: $h-danger;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-light {
    color: #212529;
    background-color: $light;
    border-color: $light;
}

.btn-light:hover,
.btn-light:focus,
.btn-light.focus {
    color: #212529;
    background-color: $h-light;
    border-color: $h-light;
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: $light;
    border-color: $light;
}

.btn-dark {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: $h-dark;
    border-color: $h-dark;
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}