hgroup {
    width: 450px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: flex-end;
    >* {
        margin-bottom: 0;
    }
    h2 {
        color: $light;
        text-shadow: 2px 2px 2.5px $maha;
        height: min-content;
        margin-top: 1.5rem;
    }
    h6 {
        color: $light;
        margin-left: 7px;
        &.height {
            height: 10px;
        }
    }
}

h2 {
    color: $maha;
    font-family: $font-two;
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: $maha;
    font-weight: 100;
    margin-bottom: 0;
}

h4 {
    color: $maha;
    font-family: $font-two;
    font-size: 1.12rem;
    font-weight: normal;
}

h6 {
    color: $maha;
    font-size: 0.9rem;
    font-family: $font-one;
    font-weight: 200;
    &.small,
    &small {
        font-size: 80%;
    }
}